<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather data</title>
</head>

<body>
    <h1>Welcome to weather data</h1>
    <form action="{{ url_for('plot') }}" method="post">
        {% for city in cities %}
        <button type="submit" name="button" value="{{ city.city_name }}">{{ city.city_name }}</button>
        {% endfor %}
    </form>
    {% if forecast_graph is defined %}
        <h1>The forecast graph</h1>
        <img src="data:image/png;base64,{{ forecast_graph }}" alt="the forecast plot">
    {% endif %}
    
    {% if dataframe %}
    <h1>Current Weather</h1>
        {{ dataframe | safe }}
    {% endif %}

    {% if correlation_graph %}
        <h1>Correlation graph</h1>
        <img src="data:image/png;base64,{{ correlation_graph }}" alt="the correlation plot">
    {% endif %}
    <script>

    </script>
</body>

</html>